In [103]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [105]:
local_path = '/Users/user/Desktop/Camp2025/lesson_11/titanic/'

train_data = pd.read_csv(os.path.join(local_path, 'train.csv'))
test_data = pd.read_csv(os.path.join(local_path, 'test.csv'))
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [107]:
test_data = pd.read_csv(os.path.join(local_path, 'test.csv'))

test_data.head()

test_data.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [109]:
train_data['Age'] = train_data['Age'].fillna(train_data['Age'].median())
test_data['Age'] = test_data['Age'].fillna(test_data['Age'].median())

train_data['Embarked'] = train_data['Embarked'].fillna(train_data['Embarked'].mode()[0])
test_data['Fare'] = test_data['Fare'].fillna(test_data['Fare'].median())

In [111]:
all_data = pd.concat([train_data, test_data], sort=False)
test_data.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

# **Home task : Supervised ML cover**

In [113]:
all_data['Sex'] = all_data['Sex'].map({'male': 0, 'female': 1})
all_data = pd.get_dummies(all_data, columns=['Embarked'])

In [115]:
train_data = all_data.iloc[:len(train_data)]
test_data = all_data.iloc[len(train_data):]

In [117]:
train_data_copy = train_data.copy()
test_data_copy = test_data.copy()

In [119]:
scaler = StandardScaler()
features_to_scale = ['Age', 'Fare']
train_data_copy.loc[:, features_to_scale] = scaler.fit_transform(train_data_copy[features_to_scale])
test_data_copy.loc[:, features_to_scale] = scaler.transform(test_data_copy[features_to_scale])

train_data = train_data_copy
test_data = test_data_copy

In [121]:
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare','Embarked_C', 'Embarked_Q', 'Embarked_S']

X = train_data[features]
y = train_data['Survived']
X_test = test_data[features]

In [123]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
model.fit(X, y)
predictions = model.predict(X_test)

In [124]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions.astype(int)})

output.to_csv('submission.csv', index=False)

Result in kaggle: Score: 0.77990